.wrapper {
    min-height: calc(100vh - 300px);
    background-color: #F0F0F0;
    color: #929292;
    overflow: hidden;
    padding: 2.083vw;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1em;
    place-items: center;
}