<div class="fix-holder">
    <div *ngIf="content && !mobileView()" class="contact-header" [class.contact-header-hide]="!contactInfo">
        <div id="content" class="contact-header-content">
            <span style="text-decoration: underline">For new work inquiries, please contact:</span>
            <span></span>
            <div>
                <a [href]="'mailto:' + content.mail" class="header-mail">{{content.mail}}</a>
                <a [href]="'tel:' + content.phone" class="header-mail">{{content.phone}}</a>
            </div>
            <div>
                <a [href]="content.behance" target="_blank" style="text-decoration: underline">Behance</a>
                <a [href]="content.linkedIn" target="_blank" style="text-decoration: underline">LinkedIn</a>
            </div>
        </div>
        <img src="assets/x.svg" class="closingX" (click)="switchContactHeader()" />
    </div>
    <header [class]="fullHeader ? 'full-header' : 'short-header'">

        <a id="logo-wrap" routerLink="/">
            <img *ngIf="!mobileView()" class="logo" [src]="fullHeader ? 'assets/logo.svg' : 'assets/logo_small.svg'" alt="">
            <img *ngIf="mobileView()" class="mobile-logo" src="assets/logo.svg" alt="">
        </a>

        <div *ngIf="!mobileView()" class="menu">
            <div class="items">
                <a routerLink="/work" routerLinkActive="active">Work</a>
                <span>|</span>
                <a routerLink="/about" routerLinkActive="active">About</a>
                <span>|</span>
                <a [routerLink]="" (click)="switchContactHeader()">Contact</a>
            </div>
            <div [class.line-hide]="!fullHeader" class="line"></div>
        </div>
        <img *ngIf="mobileView()" src="assets/3lines.svg" class="menu mobile-menu-button" alt="menu" (click)="mobileMenu = true">
        <mobile-menu *ngIf="mobileMenu" [content]="content" (close)="mobileMenu = false"></mobile-menu>
    </header>
</div>
<div [class]="fullHeader ? 'full-header' : 'short-header'"></div>
<div *ngIf="!mobileView()" class="contact-header" [class.contact-header-hide]="!contactInfo"></div>