<div class="fix-holder">
    <div class="contact-header" [class.contact-header-hide]="!contactInfo">
        <div id="content" class="contact-header-content">
            <span style="text-decoration: underline">For new work inquiries, please contact:</span>
            <span></span>
            <div>
                <a href="mailto:info@botondvoros.com" class="header-mail">info@botondvoros.com</a>
                <span>+36 70 228 5187</span>
            </div>
            <div>
                <a href="https://www.behance.net/botondvoros" target="_blank" style="text-decoration: underline">Behance</a>
                <a href="https://www.linkedin.com/in/botond-v%C3%B6r%C3%B6s-b9b10548/" target="_blank" style="text-decoration: underline">LinkedIn</a>
            </div>
        </div>
        <img src="assets/x.svg" class="closingX" (click)="switchContactHeader()" />
    </div>
    <header [class]="fullHeader ? 'full-header' : 'short-header'">

        <a id="logo-wrap" routerLink="/">
            <img [src]="fullHeader ? 'assets/logo.svg' : 'assets/logo_small.svg'" alt="">
        </a>

        <div class="items">
            <a routerLink="/work" routerLinkActive="active">Work</a>
            <span>|</span>
            <a routerLink="/editor" routerLinkActive="active">Editor</a>
            <span>|</span>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <span>|</span>
            <a [routerLink]="" (click)="switchContactHeader()">Contact</a>
        </div>
        <div [class.line-hide]="!fullHeader" class="line"></div>

    </header>
</div>
<div [class]="fullHeader ? 'full-header' : 'short-header'"></div>
<div class="contact-header" [class.contact-header-hide]="!contactInfo"></div>