<div class="fix-holder">
    <header-contact *ngIf="content" [content]="content" [class.contact-header-hide]="!contactInfo" (close)="contactInfo = false"></header-contact>
    <header [class]="fullHeader ? 'full-header' : 'short-header'" [class.yellow]="yellow">

        <a id="logo-wrap" routerLink="/">
            <img class="logo" [src]="fullHeader ? 'assets/logo.svg' : 'assets/logo_small.svg'" alt="">
            <img class="mobile-logo" src="assets/logo.svg" alt="">
        </a>

        <div class="menu">
            <div class="items">
                <a routerLink="/work" routerLinkActive="active">Work</a>
                <span>|</span>
                <a routerLink="/about" routerLinkActive="active">About</a>
                <span>|</span>
                <span style="cursor:pointer" (click)="dropDown()">Contact</span>
            </div>
            <div [class.line-hide]="!fullHeader" class="line"></div>
        </div>
        <img src="assets/3lines.svg" class="mobile-menu-button" alt="menu" (click)="mobileMenu = true">
        <mobile-menu *ngIf="mobileMenu" [content]="content" (close)="mobileMenu = false"></mobile-menu>
    </header>
</div>
<div [class]="fullHeader ? 'full-header' : 'short-header'"></div>
<div [class]="contactInfo ? 'contact-header-show' : 'contact-header-hide'" style="transition:height 0.5s"></div>