.fix-holder {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header {
    margin: 0;
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

header img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.full-header {
    padding: 0 2.083vw;
    background-color: #f0f0f0;
}

.short-header {
    padding: 0 2.083vw 0 0;
    height: 80px;
}

.full-header, .header-offset {
    height: 120px;
}

.header-offset-large {
    height: 480px;
}

.short-header > * > .logo {
    margin: 0;
    height: 80px;
}

a.active {
    font-weight: bold;
    color: #232323;
}

.menu {
    float: right;
}

.items {
    margin-left: auto;
    margin-right: 0;
    padding: 25px 2.083vw 35px;
    width: min-content;
}

.items, .items a:not(.active), .footer-items a,  .footer-items span{
    color: #969696;
    font-size: 24px;
}

.items span, .items a {
    margin: 0 0 0 1.5vw;
}

.line {
    height: 2px;
    width: 480px;
    margin: 0 -2.083vw 0 auto;
    background-color: #969696;
    opacity: 0.25;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.line-hide {
    width: 0;
}

.contact-header-show {
    height: calc(9.125vw + 184.8px);
}

.contact-header-hide {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

a {
    color: #191919;
}

.logo {
    margin: 25px 0 25px 0;
    height: 70px;
}

.mobile-menu-button {
    display: none;
    float: right;
    height: 5.625vw;
    padding: 5vw 2.6045vw 5vw 4.6875vw;
}

.mobile-logo {
    display: none;
    margin: 3.125vw 2.6045vw;
    height: 9.375vw;
}

@media (max-width: 640px) {
    header-contact, .contact-header-show {
        display: none;
    }

    .menu {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: inline;
    }

    .line {
        display: none;
    }

    .full-header {
        height: 15.625vw;
    }

    .yellow {
        background-color: #fff000;
    }
}
