.fix-holder {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header {
    margin: 0;
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

header img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.full-header {
    padding: 0 2.083vw;
    background-color: #f0f0f0;
}

.short-header {
    padding: 0 2.083vw 0 0;
    height: 80px;
}

.full-header, .header-offset, .full-header img {
    height: 120px;
}

.header-offset-large {
    height: 480px;
}

.short-header img {
    margin: 0;
    height: 80px;
}

.full-header img {
    margin: 25px 0 auto 0;
    height: 70px;
}

a.active {
    font-weight: bold;
    color: #232323;
}

.menu {
    float: right;
}

.items {
    margin-left: auto;
    margin-right: 0;
    padding: 25px 2.083vw 30px;
    width: min-content;
}

.items, .items a:not(.active), .footer-items a,  .footer-items span{
    color: #969696;
    font-size: 24px;
}

.items span, .items a {
    margin: 0 0 0 1.3vw;
}

.line {
    height: 2px;
    width: 480px;
    margin: 0 -2.083vw 0 auto;
    background-color: #969696;
    opacity: 0.25;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.line-hide {
    width: 0;
}

.contact-header {
    background: #FFF000;
    height: 360px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 1;
    display: grid;
    grid-template-rows: 15.3% 40% auto;
    grid-template-columns: 8.33% auto 14.375%;
}

.contact-header-hide {
    height: 0;
}

.contact-header-hide > .contact-header-content > div, .contact-header-hide > .contact-header-content > span, .contact-header-hide > img, .contact-header-hide > .contact-header-content > div > a {
    height: 0;
    opacity: 0;
}

.contact-header-content > span, .contact-header-content > a, .contact-header > img, .contact-header-content > div {
    transition: opacity, 0.8s;
    -webkit-transition: opacity, 0.8s;
    transition: height, 0.5s;
    -webkit-transition: height, 0.5s;
}

.contact-header-content > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

a {
    color: #191919;
}


.contact-header-content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 62% 38%;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
}

.closingX {
    width: 36px;
    grid-column: 3;
    grid-row: 2;
    transition: opacity, 0.8s;
    -webkit-transition: opacity, 0.8s;
    transition: height, 0.5s;
    -webkit-transition: height, 0.5s;
    cursor: pointer;
}

.header-mail {
    text-decoration: none;
}

@media (max-width: 600px) {
    .contact-header {
        grid-template-rows: 1fr 4fr 1fr;
    }
    .contact-header-content {
        grid-template-columns: auto;
        grid-template-rows: 1fr 0.5fr 2fr 2fr;
    }
}

@media (max-width: 960px) {
    /*#logo-wrap > img {
        background: url('assets/logo_small.svg');
    }*/
    .line {
        display: none;
    }
}
