footer {
    padding: 2.083vw 4.166vw calc(7.291vw - 40px) 4.166vw;
    display: grid;
    grid-template-columns: 5.416vw auto min-content;
    background-color: #F0F0F0;
    height: 9.375vw;
    box-sizing: border-box;
    align-items: center;
    font-size: 21px;
}

.footer-items a, .footer-items span {
    margin: auto 0 auto 1.4vw;
    color: #969696;
}

.footer-mail {
    font-weight: normal;
    color: #232323;
}

.arrow {
    height: 40px;
    cursor: pointer;
}


@media (max-width: 640px) {
    footer {
        height: 18.75vw;
        padding: 4.6875vw 4.6875vw 7.8125vw 4.6875vw;
        grid-template-columns: 8.5vw auto min-content;
        font-size: 2.5vw;
    }

    .arrow {
        height: 6.25vw;
    }
    
}
