#slide-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

app-carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.transition {
    transition: left 1s, right 1s;
    -webkit-transition: left 1s, right 1s;
}

.carousel-arrow {
    cursor: pointer;
    height: 10%;
    opacity: 0;
    position: absolute;
    padding: 14.8vw 3vw;
}

.carousel-arrow:hover {
    opacity: 1;
}
