:host {
    position: fixed;
    width: 70vw;
    background-color: #FFF000;
    /* z-index: 2; */
    right: 0;
    padding: 5vw 4.6875vw 5vw 7.5vw;
    box-sizing: border-box;
    overflow: hidden;
}

.item {
    font-weight: bold;
    height: 9.375vw;
    font-size: 5.15625vw;
    color: #191919;
}

.top {
    height: 18.75vw;
}

.x {
    width: 5.675vw;
    right: 0;
    float: right;
}

.line {
    background-color: #232323;
    width: 57.8125vw;
    height: 2px;
    margin: 0 0  9.375vw 0;
}

.textbox {
    width: 48vw;
    font-size: 3.28125vw;
    color: #191919;
    line-height: 5.675vw;
}

.textbox2 {
    margin-top: 20vw;
}

a {
    text-decoration: none;
    color: #212121;
}
