<div class="top">
  <img src="assets/x.svg" alt="close" class="x" (click)="closeMenu()">
</div>
<div class="item" routerLink="/work" (click)="closeMenu()">Work</div>
<div class="item" routerLink="/about" (click)="closeMenu()">About</div>
<div class="item"></div>
<div class="item">Contact</div>
<div class="line"></div>
<div class="textbox">
  <u>For new work inquiries, please contact:</u><br><br>
  <a [href]="'mailto:' + content.mail">{{content.mail}}</a><br>
  <a [href]="'tel:' + content.phone">{{content.phone}}</a>
</div>
<div class="textbox textbox2">
  <a [href]="content.behance" target="_blank" style="text-decoration: underline">Behance</a><br>
  <a [href]="content.linkedIn" target="_blank" style="text-decoration: underline">LinkedIn</a>
</div>
