<div class="wrapper">
  <div class="menu">
    <div routerLink="/admin/editor" routerLinkActive="active" class="item">New Post</div>
    <div routerLink="/admin/postlist" routerLinkActive="active" class="item">Edit Posts</div>
    <div routerLink="/admin/about-editor" routerLinkActive="active" class="item">Edit About</div>
    <div routerLink="/admin/slides-editor" routerLinkActive="active" class="item">Edit Slides</div>
    <div routerLink="/admin/contact-editor" routerLinkActive="active" class="item">Edit Contact</div>
    <div routerLink="/admin/log" routerLinkActive="active" class="item">Check Error Logs</div>
  </div>
</div>