.margin-wrapper {
    margin: 0 2.083vw;
}

.full-box {
    width: 100%;
    background-color: #232323;
}

.text-area {
    background-color: white;
    box-sizing: border-box;
    color: #929292;
    line-height: 180%;
    margin: 6.25vw 8.33vw 6.25vw 6.25vw;
    font-size: 23px;
}

h2 {
    font-size: 33px;
    color: #232323;
    margin: 3px 0;
    padding-bottom: 33px;
}

.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5625vw;
}

.spaceylines {
    line-height: 2em;
}

.column2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6.25vw;
}

.column2 {
    column-count: 2;
    column-gap: 6.25vw;
}

.subtitle {
    text-transform: uppercase;
    color: #232323;
}

.ars-poetica {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    padding-top: 4.16vw;
}

a {
    color: #929292;
    text-decoration: underline;
}

img {
    width:100%;
    vertical-align: bottom;
}

@media (max-width: 640px) {
    .ars-poetica {
        font-size: 4.6875vw;
    }

    .margin-wrapper {
        margin: 0 4.6875vw 4.6875vw 4.6875vw;
        display: grid;
        grid-row-gap: 12.66vw;
    }

    .text-area {
        margin: 0;
        font-size: 3.75vw;
    }

    .column2 {
        column-count: inherit;
        column-gap: inherit;
    }

    .column2-grid {
        grid-template-columns: none;
    }

    .clients {
        grid-template-columns: none;
    }

    .cheat {
        margin: -12vw 0 0 0;
    }

    .full-box {
        margin: 4.6875vw 0 0 0;
    }

    h2 {
        font-size: 5.675vw;
        margin: 0;
        padding-bottom: 5.5vw;
    }

    .publications {
        grid-row-gap: 9.375vw;
    }

    .ars-poetica > br {
        display: none;
    }

}
