<div *ngIf="content" class="margin-wrapper">
  <div class="full-box"></div>

  <div class="text-area">
    <div class="ars-poetica column2">
      {{content.arsPoetica1}}
      {{content.arsPoetica2}}
    </div>
  </div>

  <div class="text-area">
    <h2>Clients</h2>
    <div class="clients spaceylines">
      <div *ngFor="let client of content.clients">{{client}}</div>
    </div>
  </div>
  <div class="full-box"></div>

  <div class="text-area">
    <h2>Awards</h2>
    <div class="column2-grid spaceylines">
      <div *ngFor="let award of content.awards" [style.grid-row]="'span ' + (award.lines.length + 2)">
        <div>{{award.title | uppercase }}</div>
        <div *ngFor="let line of award.lines">{{line}}</div>
        <div style="white-space: pre-wrap;">{{' '}}</div>
      </div>
    </div>
  </div>

  <div class="text-area">
    <h2>Publications</h2>
    <div class="column2 spaceylines">
      <div>
        <div class="subtitle">print</div>
        <div *ngFor="let publication of content.printPublications">
          <a *ngIf="publication.url" [href]="publication.url">
            {{publication.text}}
          </a>
          <span *ngIf="!publication.url">{{publication.text}}</span>
        </div>
      </div>
      <div>
        <div class="subtitle">online</div>
        <div *ngFor="let publication of content.onlinePublications">
          <a *ngIf="publication.url" [href]="publication.url">
            {{publication.text}}
          </a>
          <span *ngIf="!publication.url">{{publication.text}}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="text-area">
    <h2>Exhibitions</h2>
    <div class="column2 spaceylines">
      <div *ngFor="let exhibition of content.exhibitions" [class.clickable]="exhibition.link">
        {{exhibition}}
      </div>
    </div>
  </div>
</div>