.wrapper {
    min-height: calc(100vh - 300px);
    background-color: #F0F0F0;
    color: #929292;
    overflow: hidden;
    padding: 2.083vw;
    box-sizing: border-box;
}


h2 {
    font-size: 33px;
    color: #232323;
    margin: 3px 0;
}

h3 {
    color: #969696;
    font-size: 24px;
    font-weight: normal;
}

.element {
    background-color: white;
    padding: 0.5em 1em;
    height: min-content;
    display: grid;
    grid-row-gap: 0.5em;
}

.intro-wrap {
    background-color: white;
    padding: 2em 8.33vw 2em 6.25vw;
}

.intro {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    column-count: 2;
    column-gap: 6.25vw;
    line-height: 180%;
}

input {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    padding: 0.5em;
    color: #232323;
    background-color: #F0F0F0;
    border: none;
}

input:focus {
    outline-color: #232323;
}

button {
    background-color: #fff000;
    padding: 0;
    border: none;
    font: inherit;
    color: #232323;
}

button:hover {
    outline-style: auto;
    outline-width: 5px;
    outline-color:  #969696;
}

.editor-section {
    display: grid;
    /* -ms-grid-columns: (320px)[auto-fill]; */
    grid-template-columns: repeat(auto-fill, 274px);
    grid-gap: 1em;
    justify-content: space-between;
}

.controls {
    width: 100%;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-column-gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.icon {
    padding: 0.5em 1em;
    height: 1em;
    cursor: pointer;
}

.images {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.image-wrap {
    width: 100%;
    position: relative;
}

.image-wrap > img {
    width: 100%;
}

.overlay-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 2em;
    cursor: pointer;
}

::-webkit-file-upload-button {
    background-color: #fff000;
    padding: 0.5em 1em;
    border: none;
    font: inherit;
    color: #232323;
}
