<div *ngIf="content" class="wrapper">

  <h3>Intro</h3>
  <div class="intro-wrap">
    <div contenteditable #intro class="intro" [innerHTML]="content.intro"></div>
    <button>
      <div class="icon" (click)="saveIntro(intro.innerHTML)">Save</div>
    </button>
  </div>

  <h3>Images</h3>
  <images-section [images]="content.images" (update)="update()"></images-section>

  <h3>Clients</h3>
  <editor-section field="clients" [content]="content.clients" [type]="indexedTextType" (update)="update()"></editor-section>
  <h3>Exhibitions</h3>
  <editor-section field="exhibitions" [content]="content.exhibitions" [type]="indexedTextType" (update)="update()"></editor-section>
  <h3>Print Publications</h3>
  <editor-section field="printPublications" [content]="content.printPublications" [type]="possiblyClickableType" (update)="update()"></editor-section>
  <h3>Online Publications</h3>
  <editor-section field="onlinePublications" [content]="content.onlinePublications" [type]="possiblyClickableType" (update)="update()"></editor-section>
  <h3>Awards</h3>
  <editor-section field="awards" [content]="content.awards" (update)="update()" [type]="headerAndLinesType"></editor-section>
</div>