<div *ngFor="let element of content; index as i" class="element">
  <div *ngFor="let property of properties(element)" style="display: grid">
    <div *ngIf="!element.edit && !isArray(element[property])" (click)="element.edit = true" class="field">{{element[property]}}</div>
    <input *ngIf="element.edit && !isArray(element[property]) && element[property].length < 40" [type]="property === 'url' ? 'url' : 'text'"
      [placeholder]="property" [(ngModel)]="element[property]">
    <textarea *ngIf="element.edit && element[property].length >= 40" type="text" [placeholder]="property" [(ngModel)]="element[property]"></textarea>
    <div *ngIf="!element.edit && isArray(element[property])">
      <div *ngFor="let member of element[property]; index as i" (click)="element.edit = true" class="field" style="color: inherit">{{member}}</div>
    </div>
    <div *ngIf="element.edit && isArray(element[property])">
      <input *ngFor="let member of element[property]; index as i" type="text" [ngModel]="element[property][i]" (change)="element[property][i]=$event.target.value">
    </div>
    <div *ngIf="element.edit && isArray(element[property])" style="justify-self: center">
      <img src="assets/plus.svg" class="icon" alt="add line" (click)="element[property].push('')">
      <img *ngIf="element[property].length" class="icon" src="assets/minus.svg" alt="remove line" (click)="element[property].splice(element[property].length - 1, 1)">
    </div>
  </div>
  <div class="controls">
    <span>{{i | number:'2.0-0'}}</span>
    <button>
      <img src="assets/x.svg" class="icon" alt="delete" (click)="removeElement(element)">
    </button>
    <button>
      <img src="assets/arrow_up.svg" class="icon" alt="up" (click)="swapElements(i - 1, i)">
    </button>
    <button>
      <img src="assets/arrow_down.svg" class="icon" alt="down" (click)="swapElements(i, i + 1)">
    </button>
    <button *ngIf="!element.edit">
      <div class="icon" alt="edit" (click)="element.edit = true" style="height: auto">Edit</div>
    </button>
    <button *ngIf="element.edit">
      <div class="icon" alt="save" (click)="removeEdit(element);updateElements()" style="height: auto">Save</div>
    </button>
  </div>
</div>
<add-element style="height: 95px;" (click)="content.push(newElement())"></add-element>
