<div class="wrapper">
  <form>
    <legend>Contact</legend>
    <label for="mail">Email</label>
    <input type="email" [value]="content.mail" name="mail" (keyup)="initChange($event.target.value, 'mail')">
    <label for="phone">Phone</label>
    <input type="tel" [value]="content.phone" name="phone" (keyup)="initChange($event.target.value, 'phone')">
    <label for="behance">Behance</label>
    <input type="url" [value]="content.behance" name="behance" (keyup)="initChange($event.target.value, 'behance')">
    <label for="linkedIn">LinkedIn</label>
    <input type="url" [value]="content.linkedIn" name="linkedIn" (keyup)="initChange($event.target.value, 'linkedIn')">

    <div *ngIf="error" class="error">{{error}}</div>
  </form>
</div>