<div class="wrapper">
  <div *ngFor="let post of posts; index as i" class="postPreviewWrap">
    <div class="clickable">{{post.title}}</div>
    <div [routerLink]="'/admin/editor/' + post.titleURL" routerLinkActive="active" class="postPreview clickable">
      <img [src]="'images/' + post.previewImage" class="imagePreview" />
    </div>
    <div class="controls">
      <span>{{i | number:'2.0-0'}}</span>
      <button>
        <img src="assets/x.svg" class="icon" alt="delete" (click)="removePost(i)">
      </button>
      <button>
        <img src="assets/arrow_up.svg" class="icon" alt="up" (click)="movePostUp(i)">
      </button>
      <button>
        <img src="assets/arrow_down.svg" class="icon" alt="down" (click)="movePostDown(i)">
      </button>
      <button>
        <div class="icon" alt="down" [routerLink]="'/work/' + post.titleURL" routerLinkActive="active" style="height: auto">Check</div>
      </button>
    </div>
  </div>

  <add-element elementType="post" style="height:287px;" routerLink="/admin/editor"></add-element>
</div>