.wrapper {
    min-height: calc(100vh - 300px);
    background-color: white;
    overflow: hidden;
    margin: 0 2vw;
    padding: 2.1vw 6.25vw;
    box-sizing: border-box;
    color: #929292;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    grid-column-gap: 6.25vw;
    grid-row-gap: 1em;
}

button {
    background-color: #fff000;
    padding: 0.5em 1em;
    border: none;
    font: inherit;
    color: #232323;
}

button:hover {
    outline-style: auto;
    outline-width: 5px;
    outline-color:  #969696;
}

button:disabled, button[disabled] {
    background-color: #F0F0F0;
    color: #969696;
}

input:disabled {
    color: #F0F0F0;
}

button:active {
    background-color: #F0F0F0;
}

::-webkit-file-upload-button {
    background-color: #fff000;
    padding: 0.5em 1em;
    border: none;
    font: inherit;
    color: #232323;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0;
    font: inherit;
    padding: 0.5em;
    color: #232323;
    background-color: #F0F0F0;
    border: none;
}

input:focus {
    outline-color: #232323;
}

textarea {
    resize: none;
    height: 17em;
}

.error {
    margin: 0.2em 0;
    box-sizing: border-box;
    max-width: 90vw;
    padding: 1em;
    color: #232323;
    background-color: #fff000;
}

.preview {
    max-width: 30%;
}

.control-bar {
    display: grid;
    background-color: #F0F0F0;
    grid-template-columns: 1fr 1fr 1fr;
}

.full-width {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 1em 0;
}

.control-item {
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5em;
    cursor: pointer;
}

.control-item > div {
    align-self: center;
}

.plus {
    height:1em;
    background-color: #fff000;
    padding: 8px;
}

.contentElementWrap {
    background-color: #F0F0F0;
    padding: 0.5em 1em;
}

.elementPreview {
    margin: 0.5em 0;
    height: 17em;
    overflow-y: scroll;
}

.imagePreview {
    width: 100%;
}

.elementControls {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 1em;
    align-items: center;
}

.image-controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 1em;
    align-items: center;
}

.icon {
    height: 1em;
}

@media (max-width: 767px) {
    input, label, textarea {
        width: 100%;
    }
}
