<div *ngIf="!submitted" class="wrapper">
    <form #uploadForm="ngForm">
        <div>
            <label for="title">Title</label>
            <input name="title" id="title" type="text" [(ngModel)]="post.title" (input)="generateTitleURL()">
        </div>
        <div>
            <label for="title">Title URL</label>
            <input #titleURL="ngModel" name="titleURL" id="titleURL" type="text" [(ngModel)]="post.titleURL" validateTitle required>
            <div *ngIf="!existingPost && titleURL.errors?.occupiedTitle" class="error"> Title already in use </div>
        </div>
        <div>
            <label for="client">Client</label>
            <input name="client" id="client" type="text" [(ngModel)]="post.client">
        </div>
        <div>
            <label for="year">Year</label>
            <input name="year" id="year" type="number" [(ngModel)]="post.year" min="1986">
        </div>
        <div>
            <label for="type">Type</label>
            <input name="type" id="type" type="text" [(ngModel)]="post.type">
        </div>
        <div>
            <label for="link">Link</label>
            <input name="link" id="link" type="text" [(ngModel)]="post.link">
        </div>
        <div>
            <label for="intro">Intro</label>
            <textarea id="intro" name="intro" type="text" [(ngModel)]="post.intro"></textarea>
        </div>
        <div>
            <label for="cover-image">Cover Image</label>
            <input #cover id="cover-image" type="file" accept=".png, .jpg, .jpeg" (change)="uploadCover($event)">
            <button *ngIf="post.cover" (click)="removeCover(); cover.value=''">Remove cover image</button>
        </div>
        <div style="display: none">
            <label for="content-images">Content Images</label>
            <input #contentImages name="content-images" type="file" accept=".png, .jpg, .jpeg" (change)="uploadContentImages($event)"
                multiple>
            <button *ngIf="post.images?.length > 0" (click)="removeContentImages(post.images); contentImages.value=''">Remove content images</button>
        </div>
        <div class="control-bar full-width">
            <div class="control-item">
                <img src="assets/plus.svg" class="plus" alt="+">
                <div>Text</div>
            </div>
            <div class="control-item" (click)="contentImages.click()">
                <img src="assets/plus.svg" class="plus" alt="+">
                <div>Image</div>
            </div>
            <div class="control-item">
                <img src="assets/plus.svg" class="plus" alt="+">
                <div>Video</div>
            </div>
        </div>
        <div *ngIf="!existingPost" class="full-width">
            <button [disabled]="uploadForm.invalid" (click)="uploadPost()">Upload</button>
        </div>
        <div *ngIf="existingPost" class="full-width">
            <button (click)="updatePost()">Update</button>
        </div>
    </form>
    <div>
        <div *ngIf="post.cover">
            <img [src]="'images/cover/' + post.cover" height="200" />
            <div>
                <span>Cover Image</span>
                <button (click)="removeCover(); cover.value=''">Remove</button>
            </div>
        </div>
        <div *ngFor="let image of post.images">
            <img [src]="'images/content/' + image.name" height="200" />
            <div>
                <select [(ngModel)]="image.width" required>
                    <option value="full">Full width</option>
                    <option value="half" selected>Half width</option>
                </select>
                <button (click)="removeContentImages([image])">Remove</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="submitted">
    <div *ngIf="!error">
        <p>Post uploaded</p>
        <p>You will be redirected in {{remaining}} milliseconds.</p>
    </div>
    <div *ngIf="error">
        <p>Server responded with error message:</p>
        <p>{{error | json}}</p>
    </div>
</div>