.preview {
    height: 100%;
    width: 100%;
    position: relative;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: 100%;
}

.preivew-text {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25.833vw 2.083vw 3.333vw 2.083vw;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

h3 {
    margin: 0;
    font-size: 29px;
    color: white;
    font-weight: normal;
    grid-row: 3;
}

h2 {
    margin: 0;
    font-size: 33px;
}

.preivew-text .subtitle {
    color: #929292;
    grid-row: 2;
}

.subtitle, .client {
    text-transform: uppercase;
    font-size: 17px;
}

.overlay {
    color: #232323;
    position: absolute;
    opacity: 0;
    width: 100%; height:100%;
    top: 0; left:0;
    background: #FFF000;
    box-sizing: border-box;
    padding: 5vw 2.083vw 3.333vw 2.083vw;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    display: grid;
    grid-template-rows: 10% 20.541% auto 10% 6.52%;
    cursor: pointer;
}

.overlay:hover {
    opacity: 1;
}

.preview-line {
    height: 2px;
    width: 23vw;
    background-color: #232323;
}

.year {
    font-size: 29px;
    font-weight: bold;
}