<header>

    <a id="logo-wrap" routerLink="/">
        <img src="assets/logo.svg" alt="" height="70">
    </a>

    <div id="menu">
        <div id="items">
            <a routerLink="/work" routerLinkActive="active">Work</a>
            <span>|</span>
            <a routerLink="/editor" routerLinkActive="active">Editor</a>
            <span>|</span>
            <a routerLink="/not-found" routerLinkActive="active">About</a>
            <span>|</span>
            <a routerLink="/not-found" routerLinkActive="active">Contact</a>
        </div>
        <div id="line"></div>
    </div>

</header>

<router-outlet></router-outlet>