html {
    width: 100%;
    border: 1px solid black;
}

.container {
    padding: 1em;
    background-color: #f0f8ff;
    margin: auto;
    max-width: 70%;
    border-radius: 1em;
    font-family: 'Univers LT W01_45 Light', Arial, Helvetica Neue, Helvetica, sans-serif;
}

nav {
    padding: 1%;
    color: #77787B;
    font-weight: normal;
    background: transparent;
    border-top: 0;
    float: right;
    height: auto;
    margin: 0;
    padding: 1em 1em 0 0;
    opacity: 1;
    display: block;
    width: 50%;
}

h1 {
    padding-left: 1%;
}

.menu-item {
    display: inline-block;
    width: 24%;
    text-align: right;
}

a { 
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    line-height: 21px;
    /*padding: 1em;
    background-color: #9cf;
    border-radius: 0.3em;*/
}

a:visited {
    color:#000;
}

/*.active {
    background-color: #bdf;
}*/

a:hover {
    border-bottom: 1px solid #FF6300;
}

@media all and (max-width: 640px) {
    .container {
        max-width: 90%;
    }
}