<header [class]="fullHeader ? 'full-header' : 'short-header'" (click)="fullHeader = !fullHeader">

    <a id="logo-wrap" routerLink="/">
        <img [src]="fullHeader ? 'assets/logo.svg' : 'assets/logo_small.svg'" alt="">
    </a>

    <div class="menu">
        <div class="items">
            <a routerLink="/work" routerLinkActive="active">Work</a>
            <span>|</span>
            <a routerLink="/editor" routerLinkActive="active">Editor</a>
            <span>|</span>
            <a routerLink="/not-found" routerLinkActive="active">About</a>
            <span>|</span>
            <a routerLink="/not-found" routerLinkActive="active">Contact</a>
        </div>
        <div [style.opacity]="fullHeader ? 1 : 0" id="line"></div>
    </div>

</header>
<div class="header-offset" [class]="fullHeader ? 'full-header' : 'short-header'"></div>

<router-outlet></router-outlet>

<footer>
    <div class="footer-content">
        <div></div>
        <img src="assets/arrow_up.svg" class="arrow" (click)="scrollUp()"/>
        <a href="mailto:info@botondvoros.com" class="footer-mail">info@botondvoros.com</a>
        <div class="footer-items">
            <a href="https://www.behance.net/botondvoros" target="_blank">Behance</a>
            <span>|</span>
            <a href="https://www.linkedin.com/in/botond-v%C3%B6r%C3%B6s-b9b10548/" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>