header {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    z-index: 2;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

header img {
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.full-header {
    padding: 0 2.1vw;
    height: 6.25vw;
}

.short-header {
    padding: 0 2.1vw 0 0;
    height: 4.17vw;
    /* grid-template-rows: 35% auto; */
}

.header-offset {
    height: 6.25vw;
}

.short-header img {
    margin: 0;
    width: 4.16vw;
}

.full-header img {
    margin: 1.3vw 0 auto 0;
    height: 3.65vw;
}

.menu, .menu a:not(.active), .footer-items a,  .footer-items span{
    color: #969696;
    font-size: 24px;
}

a.active {
    font-weight: bold;
    color: #232323;
}

.menu span, .menu a {
    margin: 0 0 0 1.3vw;
}

.menu {
    margin-left: auto;
    margin-right: 0;
    display: grid;
    grid-template-rows: 22.5% 50% auto;
}

.items {
    padding-right: 2.1vw;
    grid-row: 2;
}

#line {
    height: 2px;
    width: 25vw;
    margin: 0 -2.1vw 0 auto;
    background-color: #D9D9D9;
    grid-row: 3;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
}

footer {
    padding: 0 2.1vw;
    display: grid;
    grid-template-rows: 22.5% 22.5% auto;
    background-color: #F0F0F0;
    height: 9vw;
}

.footer-content {
    display: grid;
    grid-template-columns: 2.1% 5.7% auto auto;
    grid-row: 2;
    font-size: 24pt;
}

.footer-items {
    margin: auto 2vw auto auto;
}

.footer-items a, .footer-items span {
    margin: auto 0 auto 1.4vw;
}

.footer-mail {
    margin: auto auto auto 0;
    font-size: 24px;
    font-weight: normal;
    color: #232323;
}

.arrow {
    width: 1.25vw;
    margin: auto auto auto 0;
}