<div [hidden]="submitted">
    <form #form="ngForm" method="post" action="/api/images" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" id="title" type="text" [(ngModel)]="post.title" (input)="generateTitleURL()">
        </div>
        <div class="form-group">
            <label for="title">Title URL</label>
            <input #titleURL="ngModel" name="titleURL" id="titleURL" type="text" [(ngModel)]="post.titleURL" validateTitle>
            <div *ngIf="titleURL.errors"> Title already in use </div>
        </div>
        <div class="form-group">
            <label for="client">Client</label>
            <input name="client" id="client" type="text" [(ngModel)]="post.client">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea rows="4" id="text" name="text" type="text" [(ngModel)]="post.text"></textarea>
        </div>
        <div class="form-group">
            <label for="cover-image">Cover Image</label>
            <input #cover id="cover-image" type="file" accept=".png, .jpg, .jpeg" (change)="uploadCover($event)">
            <button *ngIf="cover.value" (click)="removeCover(); cover.value=''">Remove cover image</button>
        </div>
        <div class="form-group">
            <label for="content-images">Content Images</label>
            <input #contentImages name="content-images" type="file" accept=".png, .jpg, .jpeg" (change)="uploadContentImages($event)"
                multiple>
            <button *ngIf="contentImages.value" (click)="removeContentImages(); contentImages.value=''">Remove content images</button>
        </div>
        <button (click)="uploadPost()">Upload</button>
    </form>
    <div>
        <div class="preview" *ngFor="let image of post.images">
            <img [src]="'images/content/' + image.name" />
            <select [(ngModel)]="image.width" required>
                <option value="full">Full width</option>
                <option value="half">Half width</option>
            </select>
        </div>
    </div>
</div>

<div *ngIf="submitted">
    <div *ngIf="success">
        <p>Post uploaded</p>
    </div>
    <div *ngIf="error">
        <p>Server responded with error message:</p>
        <p>{{error}}</p>
    </div>
    <p>You will be redirected in {{remaining}} seconds.</p>
</div>