<div [hidden]="submitted">
    <form #uploadForm="ngForm">
        <div class="col-sm-12 form-group">
            <label for="title" class="col-sm-2">Title</label>
            <input name="title" id="title" type="text" [(ngModel)]="post.title" (input)="generateTitleURL()" class="col-sm-6 input-sm">
        </div>
        <div class="col-sm-12 form-group">
            <label for="title" class="col-sm-2">Title URL</label>
            <input #titleURL="ngModel" name="titleURL" id="titleURL" type="text" [(ngModel)]="post.titleURL" validateTitle required class="col-sm-6 input-sm">
            <div *ngIf="titleURL.errors?.occupiedTitle"> Title already in use </div>
        </div>
        <div class="col-sm-12 form-group">
            <label for="client" class="col-sm-2">Client</label>
            <input name="client" id="client" type="text" [(ngModel)]="post.client" class="col-sm-6 input-sm">
        </div>
        <div class="col-sm-12 form-group">
            <label for="content" class="col-sm-2">Content</label>
            <textarea rows="4" id="text" name="text" type="text" [(ngModel)]="post.text" class="col-sm-6 input-lg"></textarea>
        </div>
        <div class="col-sm-12 form-group">
            <label for="cover-image" class="col-sm-2">Cover Image</label>
            <input #cover id="cover-image" type="file" accept=".png, .jpg, .jpeg" (change)="uploadCover($event)">
            <button *ngIf="cover.value" (click)="removeCover(); cover.value=''">Remove cover image</button>
        </div>
        <div class="col-sm-12 form-group">
            <label for="content-images" class="col-sm-2">Content Images</label>
            <input #contentImages name="content-images" type="file" accept=".png, .jpg, .jpeg" (change)="uploadContentImages($event)"
                multiple>
            <button *ngIf="post.images?.length > 0" (click)="removeContentImages(post.images); contentImages.value=''">Remove content images</button>
        </div>
        <div class="col-sm-8 form-group">
            <button [disabled]="uploadForm.invalid" (click)="uploadPost()" class="col-sm-2">Upload</button>
        </div>
    </form>
    <div>
        <div *ngIf="post.cover" class="col-md-3">
            <h5>Cover Image</h5>
            <img [src]="'images/cover/' + post.cover" class="img-responsive" height="200" style="opacity: 1; display: inline;" />
        </div>
        <div class="col-md-3" *ngFor="let image of post.images">
            <img [src]="'images/content/' + image.name" class="img-responsive form-group" height="200" style="opacity: 1; display: inline;"
            />
            <div class="form-group">
                <select [(ngModel)]="image.width" required>
                    <option value="full">Full width</option>
                    <option value="half" selected>Half width</option>
                </select>
                <button (click)="removeContentImages([image])">Remove</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="submitted">
    <div *ngIf="success">
        <p>Post uploaded</p>
    </div>
    <div *ngIf="error">
        <p>Server responded with error message:</p>
        <p>{{error}}</p>
    </div>
    <p>You will be redirected in {{remaining}} milliseconds.</p>
</div>