.preview {
    height: 100%;
    width: 100%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.preivew-text {
    position: absolute;
    height: 100%; width: 100%;
    padding: 0 2.1vw;
    display: grid;
    grid-template-rows: auto 7% 15.625%;
}

h3 {
    margin: 0;
    font-size: 36px;
    color: white;
    font-weight: normal;
    grid-row: 3;
}

h2 {
    margin: 0;
    font-size: 33px;
    grid-row: 3;
}

.preivew-text .subtitle {
    color: #929292;
    grid-row: 2;
}

.subtitle, .client {
    text-transform: uppercase;
    font-size: 18px;
}

.overlay {
    color: #232323;
    position: absolute;
    opacity: 0;
    width: 100%; height:100%;
    top: 0; left:0;
    background: #FFF000;
    box-sizing: border-box;
    padding: 0 2.1vw;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    display: grid;
    grid-template-rows: 14.625% 7% 15.625% auto 7% 15.625%;
}

.overlay .subtitle {
    grid-row: 2;
}

.overlay:hover {
    opacity: 1;
}

.preview-line {
    height: 2px;
    width: 53%;
    grid-row: 4;
    background-color: #232323;
}

.client {
    grid-row: 5;
}

.year {
    grid-row: 6;
    font-size: 30px;
    font-weight: bold;
}