#cover {
    height: 33vw;
    margin: 0 2vw 2vw 2vw;
    background-color: #232323;
    box-sizing: border-box;
}

#works {
    margin: 2.1vw 2.1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 33vw;
}

@media only screen and (max-width: 960px) {
    #works {
        grid-template-columns: 1fr;
        grid-auto-rows: 66vw;
    }
}