#cover {
    height: 33vw;
    margin: 0 40px 40px 40px;
    background-color: #232323;
    box-sizing: border-box;
}

#works {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 33vw;
}