<div *ngIf="post">
    <div class="post-info text-area">
        <div>
            <h2>{{post.title}}</h2>
            <div class="subtitle">{{post.type}}</div>
        </div>
        <div class="column2-grid">
            <div [innerHTML]="post.intro"></div>
            <div class="details">
                Client
                <span class="spacer">|</span>
                <span class="highlighted-info">{{post.client}}</span>
                <br>Year
                <span class="spacer">|</span>
                <span class="highlighted-info">{{post.year}}</span>
                <br>
                <br>
                <a [href]="post.link" target="_blank" class="highlighted-info" style="text-decoration: underline">visit link</a>
            </div>
        </div>

    </div>
    <a [routerLink]="post.link" class="dropdown">
        <img src="assets/v-shape.svg">
    </a>
    <img [src]="'images/' + post.cover" class="cover" />
    <div *ngFor="let element of post.contents" [style.display]="element.type == 'text' ? 'block' : 'inline'">
        <img *ngIf="element.type == 'image'" [src]="'images/' + element.name" [style.width]="element.width + '%'" />
        <div *ngIf="element.type == 'text'" class="concept text-area">
            <div class="column2-grid" [innerHTML]="element.text"></div>
        </div>
    </div>
    <div class="post-footer">
        <img src="assets/arrow_left_black.svg" (click)="redirectPrevious()">
        <div (click)="redirect()" class="more">More Work</div>
        <img src="assets/arrow_right_black.svg" (click)="redirectNext()">
    </div>
</div>