.wrapper {
    min-height: calc(100vh - 300px);
    background-color: #F0F0F0;
    color: #929292;
    overflow: hidden;
    padding: 2.083vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 1em;
    justify-content: space-evenly;
}

button {
    background-color: #fff000;
    padding: 0;
    border: none;
    font: inherit;
    color: #232323;
}

button:hover {
    outline-style: auto;
    outline-width: 5px;
    outline-color:  #969696;
}

button:disabled, button[disabled] {
    background-color: #F0F0F0;
    color: #969696;
}

.previewWrap {
    background-color: white;
    padding: 0.5em 1em;
    height: min-content;
}

.preview {
    margin: 0.5em 0;
    height: 100px;
    background-color: #232323;
}

.imagePreview {
    width: 100%;
    height: 100%;
}

.controls {
    width: 100%;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-column-gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.icon {
    padding: 0.5em 1em;
    height: 1em;
}

.clickable {
    cursor: pointer;
}

.addButton {
    height: 240px;
    display: grid;
    place-items: center;
    outline-style: dashed;
    outline-width: 1px;
    outline-color:  #969696;
}

select {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0;
    font: inherit;
    padding: 0.5em;
    color: #232323;
    background-color: #F0F0F0;
    border: none;
}
