<div *ngIf="!submitted && post" class="wrapper">
    <form #uploadForm="ngForm">
        <div>
            <label for="title">Title</label>
            <input name="title" id="title" type="text" [(ngModel)]="post.title" (input)="generateTitleURL()">
        </div>
        <div>
            <label for="title">Title URL</label>
            <input #titleURL="ngModel" name="titleURL" id="titleURL" type="text" [(ngModel)]="post.titleURL" validateTitle required>
            <div *ngIf="!existingPost && titleURL?.errors?.occupiedTitle" class="error"> Title already in use </div>
        </div>
        <div>
            <label for="client">Client</label>
            <input name="client" id="client" type="text" [(ngModel)]="post.client">
        </div>
        <div>
            <label for="year">Year</label>
            <input name="year" id="year" type="number" [(ngModel)]="post.year" min="1986">
        </div>
        <div>
            <label for="type">Type</label>
            <input name="type" id="type" type="text" [(ngModel)]="post.type">
        </div>
        <div>
            <label for="link">Link</label>
            <input name="link" id="link" type="url" [(ngModel)]="post.link">
        </div>
        <div>
            <label for="intro">Intro</label>
            <textarea id="intro" name="intro" type="text" [(ngModel)]="post.intro"></textarea>
        </div>
        <div>
            <label for="fb-description">Facebook Description</label>
            <textarea id="fb-description" name="fb-description" type="text" [(ngModel)]="post.facebookDescription"></textarea>
        </div>
        <div>
            <label for="cover-image">Cover Image</label>
            <input *ngIf="!post.cover" #cover id="cover-image" type="file" accept=".png, .jpg, .jpeg, .svg" (change)="uploadImage($event, 'cover')">
            <div *ngIf="post.cover" class="elementPreview">
                <img [src]="'images/' + post.cover" class="imagePreview"/>
            </div>
            <button *ngIf="post.cover" (click)="removeImage('cover')">Remove cover image</button>
        </div>
        <div>
            <label for="facebook-image">Facebook Image</label>
            <input *ngIf="!post.facebookImage" #facebookImage name="facebook-image" type="file" accept=".png, .jpg, .jpeg, .svg" (change)="uploadImage($event, 'facebookImage')">
            <div *ngIf="!post.facebookImage">Best ratio: 23x12. At least 552 px X 288 px</div>
            <div *ngIf="post.facebookImage" class="elementPreview">
                <img [src]="'images/' + post.facebookImage" class="imagePreview"/>
            </div>
            <button *ngIf="post.facebookImage" (click)="removeImage('facebookImage')">Remove facebook image</button>
        </div>
        <div>
            <label for="preview-image">Preview Image</label>
            <input *ngIf="!post.previewImage" #previewImage name="preview-image" type="file" accept=".png, .jpg, .jpeg, .svg" (change)="uploadImage($event, 'previewImage')">
            <div *ngIf="!post.previewImage">Best ratio: 23x16</div>
            <div *ngIf="post.previewImage" class="elementPreview">
                <img [src]="'images/' + post.previewImage" class="imagePreview"/>
            </div>
            <button *ngIf="post.previewImage" (click)="post.previewImage = ''">Remove preview image</button>
        </div>
        <div style="display: none">
            <label for="content-images">Content Images</label>
            <input #contentImages name="content-images" type="file" accept=".png, .jpg, .jpeg, .svg, .gif" (change)="uploadContent($event, contentType.image)"
                multiple>
            <input #contentVideo name="content-video" type="file" accept=".mp4, .webm, .ogg" (change)="uploadContent($event, contentType.video)"
                multiple>
        </div>

        <div *ngFor="let element of post.contents; index as i" class="contentElementWrap">
            <div class="elementPreview">
                <img *ngIf="element.type == 'image'" [src]="'images/' + element.name"  class="imagePreview" />
                <video *ngIf="element.type == 'video'" [src]="'images/' + element.name"  class="imagePreview"></video>
                <div *ngIf="element.type == 'text'" [innerHTML]="element.text"></div>
            </div>
            <div class="elementControls">
                <span>{{i | number:'2.0-0'}}</span>
                <button (click)="removeElement(i)"><img src="assets/x.svg" class="icon" alt="delete"></button>
                <button *ngIf="element.type == 'text'" (click)="editElement(i)">Edit</button>
                <button><img src="assets/arrow_up.svg" class="icon" alt="up" (click)="moveElementUp(i)"></button>
                <button><img src="assets/arrow_down.svg" class="icon" alt="down" (click)="moveElementDown(i)"></button>
                <span *ngIf="element.type != 'text'">Width</span>
                <input *ngIf="element.type != 'text'" name="width" type="number" min="1" max="100" [(ngModel)]="element.width" style="width:3em;padding:0;">
                <span *ngIf="element.type != 'text'">%</span>
            </div>
            <div *ngIf="element.type === 'video'" class="elementControls">
                <input type="checkbox" name="autoplay" checked [(ngModel)]="element.autoplay" style="width:auto">Autoplay
                <input type="checkbox" name="loop" checked [(ngModel)]="element.loop" style="width:auto">Loop
                <input type="checkbox" name="controls" [(ngModel)]="element.controls" style="width:auto">Controls
            </div>
        </div>
        
        <div *ngIf="openTextElement">
            <label for="textEditor">New Text Element</label>
            <textarea [(ngModel)]="textUnderEdition" id="textEditor" name="textEditor" type="text" (submit)="saveTextElement()"></textarea>
            <div class="elementControls">
                <button (click)="saveTextElement()">Save</button>
                <button (click)="openTextElement = false">Cancel</button>
            </div>
        </div>

        <div class="control-bar full-width">
            <div class="control-item" (click)="openTextEditor()">
                <img src="assets/plus.svg" class="plus" alt="+">
                <div>Text</div>
            </div>
            <div class="control-item" (click)="contentImages.click()">
                <img src="assets/plus.svg" class="plus" alt="+">
                <div>Image</div>
            </div>
            <div class="control-item" (click)="contentVideo.click()">
                <img src="assets/plus.svg" class="plus" alt="+">
                <div>Video</div>
            </div>
        </div>
        <div *ngIf="!existingPost" class="full-width">
            <button [disabled]="uploadForm.invalid" (click)="uploadPost()">Upload</button>
        </div>
        <div *ngIf="existingPost" class="full-width">
            <button (click)="updatePost()">Update</button>
        </div>
    </form>
    
</div>

<div *ngIf="submitted" class="wrapper">
    <div *ngIf="!error">
        <h1>Post uploaded</h1>
    </div>
    <div *ngIf="error">
        <h1>{{error.status}} {{error.statusText}}</h1>
        <p>{{error.message}}</p>
    </div>
    <div>You will be redirected in <strong>{{remaining}}</strong> milliseconds.</div>
</div>