<div class="wrapper">
  
  <form (ngSubmit)="register()" #registrationForm="ngForm">
    <legend>Temporary Registration</legend>
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" name="password" required>
    <button type="submit" class="button button-primary" [disabled]="!registrationForm.form.valid">Register</button>
  </form>
  
  <div *ngIf="error" class="error">{{error}}</div>
</div>